@media screen and (max-width:800px){
    /* Start NAVBAR */
    nav .NavBar{
        width: 88.7vw;
        height: 100px;
        margin: auto;
        margin-top: 31px;
    }

    nav .NavBar .LineUp{
        border: 2px solid var(--main-nav-color);
    }

    nav .NavBar .GroupNav{
        width: 88.6vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav #logo{
        width: 22.6vw;
    }

    nav .NavBar .GroupNav .Mid{
        width: 35.5vw;
        display: flex;
        font-size: 1.65vw;
        justify-content: space-between;
        list-style: none;
        padding: 0 !important;
    }

    nav .NavBar .GroupNav .Mid li a{
        text-decoration: none;
        color: black;
        font-weight: 400;
    }


    nav .NavBar .GroupNav .Mid li a:hover{
        font-weight: 700;
        border-bottom: 2px solid black;
    }


    nav .NavBar .GroupNav .NoTelephone{
        width: 18.2vw;
        height: 29px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .NavBar .GroupNav .NoTelephone img{
        width: 2vw;
    }

    nav .NavBar .GroupNav .NoTelephone .Number{
        font-size: 1.65vw;
        font-weight: 400;
        margin-left: 0.6vw;
    }

    nav .NavBar .LineBottom{
        border: 2px solid var(--main-nav-color);
    }
    /* END NAVBAR */

    /* START HOME */
    #home .content{
        width: 88.7vw;  
        display: flex;
        margin: 0;
        margin-top: 50px;
        padding-left: 5.6vw;
        padding-right: 5.6vw;
    }

    #home .home-left{
        width: 50%;
    }

    #home .home-left h1{
        font-family: 'Cinzel', serif;
        font-weight: 400;
        font-size: 4.2vw;
        margin: 0;
        margin-bottom: 60px;
        padding: 0;
        color: var(--main-font-color);
    }

    #home .home-right{
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #home .home-left .img-home-left{
        position: relative;
        width: 42.3vw;
    }

    #home .home-left .img-home-left img{
        width: 100%;
    }


    #home .home-left .img-home-left .vector{
        position: absolute;
        width: 14.58vw;
        bottom: 4px;
        right: 0px;
    }

    #home .home-right .img-home-right{
        position: relative;
        width: 38.54vw;
        border: 0px;
    }

    #home .home-right .img-home-right .picture-home-right{
        width: 100%;
    }

    #home .home-right .img-home-right .vector{
        position: absolute;
        bottom: 0.45vw;
        right: 0px;
        width: 14.58vw;
    }

    #home .home-right .caption-home{
        width: 38.96vw;
        margin: 15px 0;
        color: var(--main-font-color);
    }

    #home .home-right{
        padding-left: 5vw;
        font-size: 1.8vw;
        font-weight: 400;
        width: 34.2vw;
        /* background-color: blue; */
    }


    #home .home-right .read-more a img{
        margin-left: 0.89vw;
    }

    #home .home-right .arrow-read-more{
        width: 1.25vw;
    }

    #home .home-right .img-home-right, p a{
        /* font-style: none; */
        text-decoration: none;
        color: var(--main-font-color);
        font-family: "cinzel";
        font-weight: 700px;
        font-weight: bold;
        font-size: 1.5vw;
    }
    /* END HOME */

    /* START Categories */
    #categories .cat-header .see-all{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 12vw;
        color: black;
        text-decoration: none;
    }
    
    #categories .cat-header .see-all p{
        font-family: 'cinzel';
        font-weight: bold;
        letter-spacing: -1px;
        color: var(--main-font-color);
    }
    
    #categories .cat-header .see-all img{
        width: 2vw;
    }
    /* END Categories */

    /* START HOME-styling */
    #styling{
        width: 88.7vw;  
        margin: auto;
    }

    #styling h2{
        font-family: 'cinzel';
        font-size: 2vw;
        font-weight: 500;
    }

    #styling .styling-header{
        display: flex;
        justify-content: space-between;
    }

    #styling .styling-header h1{
        font-family: 'cinzel';
        font-size: 4.2vw;
        font-weight: 500;
        margin-top: 0;
        color: var(--main-font-color);
    }

    #styling .styling-content{
        width: 100%;
    }

    #styling .styling-content h4{
        font-family: 'cinzel';
        font-weight: 500;
        color: var(--main-font-color);
        margin-bottom: 10px;
    }

    #styling .styling-content{
        display: flex;
        justify-content: space-between;
        line-height: 0;
    }

    #styling .styling-content .card{
        width: 23.125vw;
    }

    #styling .styling-content .card h4{
        font-family: 'cinzel';
        font-size: 2.2vw;
        font-weight: 300;
        letter-spacing: -1px;
    }

    #styling .styling-content .card p{
        line-height: normal;
        width: 100%;
        font-family: 'montserrat';
        font-size: 1.3vw;
    }

    #styling .styling-content .card img{
        width: 23.125vw;
    }
    /* END HOME-styling */

    /* START HOME-FAQ */
    #faq{
        width: 88.7vw;  
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #faq .left{
        width: 100%;
    }

    #faq .right{
        padding-top: 15px;
        width: 100%;
    }

    #faq .left h2{
        font-family: 'cinzel';
        font-size: 2.5vw;
        font-weight: 500;
    }


    #faq .left h1{
        font-family: 'cinzel';
        font-size: 5vw;
        font-weight: 400;
        margin-top: 0;
        color: var(--main-font-color);
    }

    #faq .left p{
        font-family: 'montserrat';
        font-size: 1.8vw;
        width: 90%;
    }

    #faq .left p a{
        font-family: 'montserrat';
        font-size: 1.8vw;
        width: 90%;
    }

    #faq .right .qna{
        margin-bottom: 25px;
    }

    #faq .right .qna .question{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-weight: 500;
    }

    #faq .right .qna .question p{
        font-size: 1.8vw;
        font-family: 'cinzel';
        letter-spacing: normal;
        color: var(--main-font-color);
    }

    #faq .right .qna .question .qna-icon{
        width: 2.4vw;
        height: 2.4vw;
    }

    #faq .right .qna .question .qna-icon:hover{
        cursor: pointer;
    }


    #faq .right .qna .answer{
        font-size: 1.8vw;
        font-family: 'montserrat';
        margin-bottom: 10px;
        width: 90%;
        color: #7D7D7D;
    }
    /* END HOME-FAQ */

    /* START HOME-Footer */
    #footer{
        margin-top: 120px;
        background-color: #0B0B0B;
        width: 100vw;
        color: white;
        padding-bottom: 50px;
    }

    #footer .footer-content{
        padding-top: 50px;
        width: 88.7vw;  
        margin: 100px auto 0;

    }

    #footer .footer-content .top{
        display: flex;
        justify-content: space-between;
    }

    #footer .footer-content .top .top-right{
        width: 50%;
    }

    #footer .footer-content .top h2{
        font-family: 'cinzel';
        font-size: 3vw;
        width: 30vw;
        font-weight: 200;
    }

    #footer .footer-content .top .top-left{
        width: 50%;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }

    #footer .footer-content .top .top-left .social-media h2{
        font-family: 'cinzel';
        font-size: 2vw;
        font-weight: 200;
    }
    #footer .footer-content .top .top-left .contact-us h2{
        font-family: 'cinzel';
        font-size: 2vw;
        font-weight: 200;
    }

    #footer .footer-content .top .top-left p{
        font-family: 'montserrat';
        color: #7D7D7D;
        font-size: 1.4vw;
        width: 19vw;
    }

    #footer .footer-content .top .top-left a{
        text-decoration: none;
    }

    #footer .divider-footer{
        border: 0.5px solid #D9D9D9;
        width: 100%;
        margin: 100px 0 50px 0;
    }

    #footer .bottom{
        display: flex;
        align-items: center;
    }

    #footer .bottom .bottom-left{
        width: 50%;
    }

    #footer .bottom .bottom-right{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #footer .bottom .bottom-right a{
        text-decoration: none;
        color: white;
        font-family: 'cinzel';
        font-size: 1.4vw;
        
    }
    /* END HOME-Footer */
}



