@media screen and (max-width:600px){
    nav .NavBar{
        width: 88.7vw;
        height: 100px;
        margin: auto;
        margin-top: 31px;
    }

    nav .NavBar .LineUp{
        border: 2px solid var(--main-nav-color);
    }

    nav .NavBar .GroupNav{
        width: 88.6vw;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav #logo{
        width: 25.6vw;
    }

    nav .NavBar .GroupNav .Mid{
        border-radius: 10px;
        display: flex;
        position: fixed;
        top: 3vh;
        bottom: 3vh;
        right: 4vw;
        left: 2vw;
        height: 94vh;
        width: 94vw;
        justify-content: space-between;
        flex-direction: column;
        background-color: var(--main-nav-color);
        margin: 0 !important;
        padding: 0px 0px 100px 0 !important;
        z-index: 10;
        box-sizing: border-box;
        transform: scale(0);
        opacity: 0;
        transition: 0.5s;
    }

    nav .NavBar .GroupNav .Mid.tampil{
        transform: scale(1);
        opacity: 1;
    }

    nav .NavBar .GroupNav .Mid li a{
        margin: 10vw;
        text-decoration: none;
        color: black;
        font-weight: 400;
        font-size: 3vw;
        padding: 10px 0;
    }


    nav .NavBar .GroupNav .Mid li a:hover{
        font-weight: 700;
        border-bottom: 2px solid black;
    }


    nav .NavBar .GroupNav .NoTelephone{
        display: none;
        width: 18.2vw;
        height: 29px;
        justify-content: space-between;
        align-items: center;
    }

    nav .NavBar .GroupNav .NoTelephone img{
        width: 2vw;
    }

    nav .NavBar .GroupNav .NoTelephone .Number{
        font-size: 1.65vw;
        font-weight: 400;
        margin-left: 0.6vw;
    }

    nav .NavBar .LineBottom{
        border: 2px solid var(--main-nav-color);
    }
    .menu-toggle{
        display: flex;
    }

    /* menu toggle */

    nav #logo-hp{
        display: block;
        width: 35vw;
        margin:35px 10vw;
    }

    nav .NavBar .GroupNav .NoTelephone-hp{
        display: flex;
        margin: 10vw;
        align-items: center;
    }

    nav .NavBar .GroupNav .NoTelephone-hp .Number{
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
    }

    nav .NavBar .GroupNav .NoTelephone-hp .hp{
        width: 25px;
        height: 25px;
    }

    /* START HOME */
    #home .content{
        width: 88.7vw;  
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10px;
        padding-left: 4vw !important;
        padding-right: 5.6vw;
    }

    #home .home-left{
        width: 100%;
        /* background-color: aqua; */
    }

    #home .home-left h1{
        font-family: 'Cinzel', serif;
        font-weight: 400;
        font-size: 8vw;
        margin: 0;
        margin-bottom: 20px;
        padding: 0;
        color: var(--main-font-color);
    }

    #home .home-right{
        width: 100% !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* column-gap: 20px; */
        padding: 0 !important;
    }

    #home .home-left .img-home-left{
        position: relative;
        width: 100%;
    }

    #home .home-left .img-home-left img{
        width: 100%;
    }


    #home .home-left .img-home-left .vector{
        position: absolute;
        width: 30vw;
        bottom: 4px;
        right: 0px;
    }

    #home .home-right .img-home-right{
        position: relative;
        width: 100%;
        border: 0px;
        margin-top: 15px;
    }

    #home .home-right .img-home-right .picture-home-right{
        width: 100%;
    }

    #home .home-right .img-home-right .vector{
        position: absolute;
        bottom: 1.2vw;
        right: 0px;
        width: 30vw;
    }

    #home .home-right .caption-home{
        width: 100%;
        margin: 15px 0;
        color: var(--main-font-color);
        padding-left: 1px;
    }

    #home .home-right{
        padding-left: 5vw;
        font-size: 3vw;
        font-weight: 400;
        width: 34.2vw;
    }


    #home .home-right .read-more a img{
        margin-left: 0.89vw;
    }

    #home .home-right .arrow-read-more{
        padding-left: 5px !important;
        width: 2.2vw;
    }

    #home .home-right .img-home-right, p a{
        /* font-style: none; */
        text-decoration: none;
        color: var(--main-font-color);
        font-family: "cinzel";
        font-weight: 700px;
        font-weight: bold;
        font-size: 3.1vw;
    }
    /* END HOME */

    /* START HOME-categories */
    #categories{
        width: 88.7vw;  
        margin: auto;
    }

    #categories h2{
        font-family: 'cinzel';
        font-size: 3.12vw;
        font-weight: 500;
    }

    #categories .cat-header{
        display: flex;
        justify-content: space-between;
    }

    #categories .cat-header h1{
        font-family: 'cinzel';
        font-size: 6.24vw;
        font-weight: 500;
        margin-top: 0;
        color: var(--main-font-color);
    }

    #categories .cat-header .see-all{
        transform: translateY(-10px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 20vw;
        color: black;
        text-decoration: none;
    }

    #categories .cat-header .see-all p{
        font-family: 'cinzel';
        font-weight: bold;
        letter-spacing: -1px;
        color: var(--main-font-color);
    }

    #categories .cat-header .see-all img{
        width: 2.7vw;
    }

    #categories .cat-content{
        width: 100%;
    }

    #categories .cat-content h4{
        font-family: 'cinzel';
        font-size: 3.5vw;
        font-weight: 500;
    }

    #categories .cat-content p{
        font-family: 'montserrat';
        font-size: 2.4vw;
        font-weight: 500;
        line-height: 0;
    }

    #categories .cat-content .cat-top{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        line-height: 0;
    }

    #categories .cat-content h4{
        color: var(--main-font-color);
    }

    #categories .cat-content .card1,
    #categories .cat-content .card2,
    #categories .cat-content .card3,
    #categories .cat-content .card4{
        margin-bottom: 20px;
    }

    #categories .cat-content .cat-top .card1{
        width: 100%;
    }
    #categories .cat-content .cat-top .card1 .img{
        width: 100%;
        height:  30.354vw;
    }

    #categories .cat-content .cat-top .card2{
        width: 100%;
    }
    #categories .cat-content .cat-top .card2 .img{
        width: 100%;
        height:  30.354vw;
    }

    #categories .cat-content .cat-bottom{
        display: flex;
        flex-direction: column;
        line-height: 0;
        margin: 0 !important;
    }


    #categories .cat-content .cat-bottom .card3{
        width: 100%;
    }
    #categories .cat-content .cat-bottom .card3 .img{
        width: 100%;
        height:  30.354vw;
    }

    #categories .cat-content .cat-bottom .card4{
        width: 100%;
    }
    #categories .cat-content .cat-bottom .card4 .img{
        width: 100%;
        height:  30.354vw;
    }

    /* End HOME-CATEGORIES */

    /* START HOME-CTA */
    #cta{
        width: 88.7vw;  
        margin: 100px auto;
        background-image: url('img/home-cta/quoted-img-opa.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 558px;    
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cta h1{
        font-size: 25px;
        font-family: 'cinzel';
        font-weight: 200;
        color: white;
        width: 70vw;
        letter-spacing: 1px;
        line-height: 50px;
        text-align: center;
    }
    /* END HOME-CTA */

    /* START HOME-styling */
    #styling{
        width: 88.7vw;  
        margin: auto;
    }

    #styling h2{
        font-family: 'cinzel';
        font-size: 3.12vw;
        font-weight: 500;
    }

    #styling .styling-header{
        display: flex;
        justify-content: space-between;
    }

    #styling .styling-header h1{
        font-family: 'cinzel';
        font-size: 6.24vw;
        font-weight: 500;
        margin-top: 0;
        color: var(--main-font-color);
    }

    #styling .styling-content{
        width: 100%;
    }

    #styling .styling-content h4{
        font-family: 'cinzel';
        font-weight: 500;
        color: var(--main-font-color);
        margin-bottom: 10px;
    }

    #styling .styling-content{
        display: flex;
        justify-content: space-between;
        line-height: 0;
        flex-direction: column;
    }

    #styling .styling-content .card{
        width: 100%;
        margin-bottom: 30px;
    }

    #styling .styling-content .card h4{
        font-family: 'cinzel';
        font-size: 4.2vw;
        font-weight: 300;
        letter-spacing: normal !important;
    }

    #styling .styling-content .card p{
        line-height: normal;
        width: 100%;
        font-family: 'montserrat';
        font-size: 2.5vw;
    }

    #styling .styling-content .card img{
        width: 100%;
    }
    /* END HOME-styling */

    /* START HOME-FAQ */
    #faq{
        width: 88.7vw;  
        margin: 100px auto;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #faq .left{
        width: 100%;
    }

    #faq .right{
        padding-top: 15px;
        width: 100%;
    }

    #faq .left h2{
        font-family: 'cinzel';
        font-size: 3.12vw;
        font-weight: 500;
    }


    #faq .left h1{
        font-family: 'cinzel';
        font-size: 6.24vw;
        font-weight: 400;
        margin-top: 0;
        color: var(--main-font-color);
    }

    #faq .left p{
        font-family: 'montserrat';
        font-size: 2.2vw;
        width: 90%;
    }

    #faq .left p a{
        font-family: 'montserrat';
        font-size: 2.2vw;
        width: 90%;
    }

    #faq .right .qna{
        margin-bottom: 25px;
    }

    #faq .right .qna .question{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        font-weight: 500;
    }

    #faq .right .qna .question p{
        font-size: 2.2vw;
        font-family: 'cinzel';
        letter-spacing: normal;
        color: var(--main-font-color);
    }

    #faq .right .qna .question .qna-icon{
        width: 3.3vw;
        height: 3.3vw;
    }

    #faq .right .qna .question .qna-icon:hover{
        cursor: pointer;
    }


    #faq .right .qna .answer{
        font-size: 2.2vw !important;
        font-family: 'montserrat';
        margin-bottom: 10px;
        width: 90% !important;
        color: #7D7D7D;
    }
    /* END HOME-FAQ */

    /* START HOME-Footer */
    #footer{
        margin-top: 120px;
        background-color: #0B0B0B;
        width: 100vw;
        color: white;
        padding-bottom: 50px;
    }

    #footer .footer-content{
        padding-top: 50px;
        width: 88.7vw;  
        margin: 100px auto 0;

    }

    #footer .footer-content .top{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #footer .footer-content .top .top-right{
        width: 100%;
    }

    #footer .footer-content .top h2{
        font-family: 'cinzel';
        font-size: 7vw;
        width: 100%;
        font-weight: 200;
    }

    #footer .footer-content .top .top-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
    }

    #footer .footer-content .top .top-left .social-media h2{
        font-family: 'cinzel';
        font-size: 3vw;
        font-weight: 200;
    }
    #footer .footer-content .top .top-left .contact-us{
        width: 50%;
    }
    #footer .footer-content .top .top-left .social-media{
        width: 50%;
    }

    #footer .footer-content .top .top-left .contact-us h2{
        font-family: 'cinzel';
        font-size: 3vw;
        font-weight: 200;
    }

    #footer .footer-content .top .top-left p{
        font-family: 'montserrat';
        color: #7D7D7D;
        font-size: 2.2vw;
        width: 75%;
    }

    #footer .footer-content .top .top-left a{
        text-decoration: none;
        font-size: 2.1vw !important;
    }

    #footer .divider-footer{
        border: 0.5px solid #D9D9D9;
        width: 100%;
        margin: 60px 0 30px 0;
    }

    #footer .bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #footer .bottom .bottom-left{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    #footer .bottom .bottom-right{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #footer .bottom .bottom-right a{
        text-decoration: none;
        color: white;
        font-family: 'cinzel';
        font-size: 2.3vw;
        
    }
    /* END HOME-Footer */
}