:root{
    /* Warna Warna Utama La Tazha */
    --main-bg-color: #ffffff;  
    --main-nav-color: #D9D9D9;
    --main-font-color:#295546;
    background-color: var(--main-bg-color);
    scroll-behavior: smooth;
}

body{
    background-color: var(--main-bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    overflow-x: hidden;
}

body.hidden-y{
    overflow-y: hidden !important;
}

/* Start NAVBAR */

nav .NavBar{
    width: 88.7vw;
    height: 121px;
    margin: auto;
    margin-top: 41px;
}

nav .NavBar .LineUp{
    border: 2px solid var(--main-nav-color);
}

nav .NavBar .GroupNav{
    width: 88.6vw;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #logo{
    width: 12.6vw;
}

nav #logo-hp{
    display: none;
}

nav .NavBar .GroupNav .Mid{
    width: 30.5vw;
    display: flex;
    font-size: 1.25vw;
    justify-content: space-between;
    list-style: none;
}

nav .NavBar .GroupNav .Mid li a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}


nav .NavBar .GroupNav .Mid li a:hover{
    font-weight: 700;
    border-bottom: 2px solid black;
}

nav .NavBar .GroupNav .Mid li a.active{
    font-weight: 700;
    border-bottom: 2px solid black;
}

nav .NavBar .GroupNav .NoTelephone{
    width: 14.2vw ;
    height: 29px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .NavBar .GroupNav a{
    font-size: 1.25vw;
    font-weight: 400;
    margin-left: 0.6vw;
    text-decoration: none;
    color: black;
}

nav .NavBar .GroupNav .NoTelephone-hp{
    display: none;
}

nav .NavBar .GroupNav .NoTelephone img{
    width: 1.77vw;
}

nav .NavBar .GroupNav .NoTelephone .Number{
    font-size: 1.25vw;
    font-weight: 400;
    margin-left: 0.6vw;
}

nav .NavBar .LineBottom{
    border: 2px solid var(--main-nav-color);
}

/* awal nav menu toggle */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    z-index: 99;
}

.menu-toggle input{
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -10px;
    top: -7px;
    cursor: pointer;
    z-index: 99;
}

.menu-toggle span{
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--main-font-color);
    border-radius: 3px;
    transition: 0.5s;
}

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4){
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}

/* END NAVBAR */

/* START HOME */
#home .content{
    width: 88.7vw;  
    display: flex;
    margin: 0;
    margin-top: 50px;
    padding-left: 5.6vw;
    padding-right: 5.6vw;
    /* background-color: blue; */
}

#home .home-left{
    width: 50%;
}

#home .home-left h1{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    font-size: 4.2vw;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    color: var(--main-font-color);
}

#home .home-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home .home-left .img-home-left{
    position: relative;
    width: 42.3vw;
}

#home .home-left .img-home-left img{
    width: 100%;
}


#home .home-left .img-home-left .vector{
    position: absolute;
    width: 14.58vw;
    bottom: 4px;
    right: 0px;
}

#home .home-right .img-home-right{
    position: relative;
    width: 38.54vw;
    border: 0px;
}

#home .home-right .img-home-right .picture-home-right{
    width: 100%;
}

#home .home-right .img-home-right .vector{
    position: absolute;
    bottom: 0.45vw;
    right: 0px;
    width: 14.58vw;
}

#home .home-right .caption-home{
    width: 38.96vw;
    margin: 30px 0;
    color: var(--main-font-color);
}

#home .home-right{
    padding-left: 5vw;
    font-size: 1.46vw;
    font-weight: 400;
    width: 34.2vw;
    /* background-color: blue; */
}


#home .home-right .read-more a img{
    margin-left: 0.89vw;
}

#home .home-right .arrow-read-more{
    width: 0.83vw;
}

#home .home-right .img-home-right, p a{
    /* font-style: none; */
    text-decoration: none;
    color: var(--main-font-color);
    font-family: "cinzel";
    font-weight: 700px;
    font-weight: bold;
    font-size: 1.25vw;
}
/* END HOME */

div#divider{
    width: 88.64vw;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #D9D9D9;
}

/* START HOME-categories */
#categories{
    width: 88.7vw;  
    margin: auto;
}

#categories h2{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 500;
}

#categories .cat-header{
    display: flex;
    justify-content: space-between;
}

#categories .cat-header h1{
    font-family: 'cinzel';
    font-size: 3.12vw;
    font-weight: 500;
    margin-top: 0;
    color: var(--main-font-color);
}

#categories .cat-header .see-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8vw;
    /* color: var(--main-font-color); */
    color: black;
    text-decoration: none;
}

#categories .cat-header .see-all p{
    font-family: 'cinzel';
    font-weight: bold;
    letter-spacing: -1px;
    color: var(--main-font-color);
}

#categories .cat-header .see-all img{
    width: 0.83vw;
}

#categories .cat-content{
    width: 100%;
}

#categories .cat-content h4{
    font-family: 'cinzel';
    font-size: 2vw;
    font-weight: 500;
}

#categories .cat-content p{
    font-family: 'montserrat';
    font-size: 1.4vw;
    font-weight: 500;
    line-height: 0;
}

#categories .cat-content .cat-top{
    display: flex;
    justify-content: space-between;
    line-height: 0;
}

#categories .cat-content .cat-top a,
#categories .cat-content .cat-bottom a  {
    color: #0B0B0B;
    text-decoration: none;
}


#categories .cat-content h4{
    color: var(--main-font-color);
}

#categories .cat-content .cat-top img:hover,
#categories .cat-content .cat-bottom img:hover{
    cursor: pointer;
    filter: brightness(80%);
}

#categories .cat-content .cat-top .card1{
    width: 46.354vw;
}
#categories .cat-content .cat-top .card1 .img{
    width:  46.354vw;
    height:  17.354vw;
    border-radius: .5rem;
    background-image: url('img/products/bedcover_batiktulis.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}

#categories .cat-content .cat-top .card2{
    width: 34.7vw;
}
#categories .cat-content .cat-top .card2 .img{
    width: 34.7vw;
    height:  17.354vw;
    border-radius: .5rem;
    background-image: url('img/products/bantal_pandan.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}

#categories .cat-content .cat-bottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    line-height: 0;
}


#categories .cat-content .cat-bottom .card3{
    width: 30.88vw;
}   
#categories .cat-content .cat-bottom .card3 .img{
    width: 34.7vw;
    height:  17.354vw;
    border-radius: .5rem;
    background-image: url('img/products/beddingset.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}

#categories .cat-content .cat-bottom .card4{
    width:  46.354vw;
}
#categories .cat-content .cat-bottom .card4 .img{
    width:  46.354vw;
    height:  17.354vw;
    border-radius: .5rem;
    background-image: url('img/products/tablecloth.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    transition: .4s;
}

#categories .cat-content .cat-top .card1 .img:hover,
#categories .cat-content .cat-top .card2 .img:hover,
#categories .cat-content .cat-bottom .card3 .img:hover,
#categories .cat-content .cat-bottom .card4 .img:hover {
    filter: brightness(.7);
}

/* END HOME-categories */
/* START HOME-CTA */
#cta{
    width: 88.7vw;  
    margin: 100px auto;
    background-image: url('img/home-cta/quoted-img-opa.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 558px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

#cta h1{
    font-family: 'cinzel';
    font-weight: 200;
    color: white;
    width: 64vw;
    letter-spacing: 2px;
    line-height: 70px;
    text-align: center;
}
/* END HOME-CTA */

/* START HOME-styling */
#styling{
    width: 88.7vw;  
    margin: auto;
}

#styling h2{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 500;
}

#styling .styling-header{
    display: flex;
    justify-content: space-between;
}

#styling .styling-header h1{
    font-family: 'cinzel';
    font-size: 3.12vw;
    font-weight: 500;
    margin-top: 0;
    color: var(--main-font-color);
}

#styling .styling-content{
    width: 100%;
}

#styling .styling-content h4{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 500;
    color: var(--main-font-color);
    margin-bottom: 10px;
}

#styling .styling-content{
    display: flex;
    justify-content: space-between;
    line-height: 0;
}

#styling .styling-content .card{
    width: 23.125vw;
}

#styling .styling-content .card h4{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 300;
    letter-spacing: -1px;
}

#styling .styling-content .card p{
    line-height: normal;
    width: 22.24;
    font-family: 'montserrat';
    font-size: 1.04vw;
}

#styling .styling-content .card img{
    width: 23.125vw;
}
/* END HOME-styling */

/* START HOME-FAQ */
#faq{
    width: 88.7vw;  
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

#faq .left{
    width: 50%;
}

#faq .right{
    padding-top: 15px;
    width: 50%;
}

#faq .left h2{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 500;
}


#faq .left h1{
    font-family: 'cinzel';
    font-size: 3.33vw;
    font-weight: 400;
    margin-top: 0;
    color: var(--main-font-color);
}

#faq .left p, #faq .left a{
    font-family: 'montserrat';
    font-size: 1.041vw;
    width: 31.52vw;
}

#faq .left a{
    text-decoration: underline;
}

#faq .right .qna{
    margin-bottom: 25px;
}

#faq .right .qna .question{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    font-weight: 500;
    
}

#faq .right .qna .question p{
    font-size: 1.041vw;
    font-family: 'cinzel';
    letter-spacing: -1px;
    color: var(--main-font-color);
}

#faq .right .qna .question .qna-icon{
    width: 1.3vw;
    height: 1.3vw;
}

#faq .right .qna .question .qna-icon:hover{
    cursor: pointer;
}

@keyframes appearing {
    0% {
    transform: scale(0);
    }

    50% {
    transform: scale(1);
    }
}

#faq .right .qna .answer{
    display: none;
    animation: hiding 1s ease 0s 1 normal none running;
}

#faq .right .qna .answer.active{
    animation: appearing 1s ease 0s 1 normal none running;
    display: block;
    font-size: 1.041vw;
    font-family: 'montserrat';
    margin-bottom: 10px;
    width: 38vw;
    color: #7D7D7D;
}
/* END HOME-FAQ */

/* START HOME-Footer */
#footer{
    margin-top: 120px;
    background-color: #0B0B0B;
    width: 100vw;
    color: white;
    padding-bottom: 50px;
}

#footer .footer-content{
    padding-top: 50px;
    width: 88.7vw;  
    margin: 100px auto 0;

}

#footer .footer-content .top{
    display: flex;
    justify-content: space-between;
}

#footer .footer-content .top .top-right{
    width: 50%;
}

#footer .footer-content .top h2{
    font-family: 'cinzel';
    font-size: 2.5vw;
    width: 24.48vw;
    font-weight: 200;
}

#footer .footer-content .top .top-left{
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

#footer .footer-content .top .top-left .social-media h2{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 200;
}
#footer .footer-content .top .top-left .contact-us h2{
    font-family: 'cinzel';
    font-size: 1.56vw;
    font-weight: 200;
}

#footer .footer-content .top .top-left p, 
#footer .footer-content .top .top-left p a{
    font-family: 'montserrat';
    color: #7D7D7D;
    font-size: 1.041vw;
    width: 13.8vw;
}

#footer .footer-content .top .top-left a{
    text-decoration: none !important;
}

#footer .divider-footer{
    border: 0.5px solid #D9D9D9;
    width: 100%;
    margin: 100px 0 50px 0;
}

#footer .bottom{
    display: flex;
    align-items: center;
}

#footer .bottom .bottom-left{
    width: 50%;
}

#footer .bottom .bottom-right{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer .bottom .bottom-right a{
    text-decoration: none;
    color: white;
    font-family: 'cinzel';
    font-size: 1.25vw;
    
}
/* END HOME-Footer */

